<div class="row">
  <div class="col-md-2 avatar-message">
    <%= image_tag message.user.avatar.url(:thumb) %>
  </div>
  <div class="col-md-9 text-message">
    <p class="card-text">
      <span class="text-muted"><%= message.user.username %> в <%= message.timestamp %></span><br>
      <%= message.text %>
    </p>
  </div>
</div>