<div class="content">
  <div class="home-text">
    <h1><b>Счастливые фермеры</b></h1>
    <p>Сервис для покупки и продажи фермерских продуктов</p>
  </div>
  <%= link_to 'Войти', new_user_session_path, class: "home-buttons" %>
  <%= link_to 'Зарегистрироваться', new_user_registration_path, class: "home-buttons" %>
</div>