// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-image-index {
  min-height: 90vh;
  min-width: 100%;
  background-size: 100% 100%;
  background-image: image-url('background_index.jpg');
  position: fixed;
  z-index: -1000;
}

.content {
  text-align: center;
}

.home-text {
  margin-top: 5%;
}

.home-text p {
  font-size: 30px;
}

.home-text h1 {
  font-size: 46px;
  text-transform: uppercase;
}

.home-buttons {
  margin-top: 11%;
  border-radius: 5px;
  font-size: 24px;
  color: #28dc1b;
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  padding: 15px 20px;
  background-color: rgba(80, 80, 80, 0.85);
  min-width: 23%;
}

.home-buttons:hover {
  background-color: rgba(102, 102, 102, 0.9);
  color: rgb(41, 255, 28);
  text-decoration: none;
}
